<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CRM Suite">
  <test name="CRM TEST">
    <classes>
      <class name="com.crm.qa.testcase.ContactPageTest"/>
     <!--  <class name="com.crm.qa.testcase.HomePageTest"/>
      <class name="com.crm.qa.testcase.LoginPageTest"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
